* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:  #499A18; /*#E06733 for close state*/
  font-size: 14px;
}

@media (min-width: 381px) { /*for a taplets*/
  html {
    font-size: 16px;
  }
}

@media (min-width: 821px) { /*for a laptops*/
  html {
    font-size: 20px;
  }
}

body {
  padding: 20px;
  background-color: #EDF2EC;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 600px) { /*for a tablets with the screen larger than 600px*/
  .wrapper {
    width: 80%;
  }
}

@media (min-width: 821px) { /*for a laptops*/
  .wrapper {
    width: 60%;
  }
}

.heading {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.0;
  margin-bottom: 0.9375rem;
}

.accordion {
  width: 100%;
}

.accrodion__item {
  width: 100%;
  list-style: none;
  border-bottom: 2px solid #99939354;
  padding: 0.625rem 0;
}

.accrodion__item:first-child {
  border-top: 2px solid #99939354;
}

.accrodion__item:last-child {
  border-bottom: none;
}

.accordion__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.5%;
}

.accordion__text {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.0;
  margin-right: 1.25rem;
}

.accordion__btn {
  flex: 0 0 1rem;
  height: 1rem;
  background: url(./images/icons/cross.svg);
  background-position: center;
  background-size: cover;
  transform: rotate(45deg);
  transition: transform .5s ease;
}

.accordion__meme {
  width: 70%;
  margin: 0.625rem auto;
}

.meme__img {
  width: 100%;
  display: block;
}

